/* You can add global styles to this file, and also import other style files */
$bg-primary: dodgerblue;
$bg-secondary: orange;
$bg-app-background: #ffff;

body {
  margin: 0;
}

.primary-btn {
  font-size: 12pt;
  padding: 0.5rem;
  background: lightgray;
  border-radius: 0.5rem;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
}

.primary-btn:active {
  background-color: white;
  color: black;
}
